/target/

.classpath
.project
.settings/.jsdtscope
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
.settings/org.hibernate.eclipse.console.prefs
.classpath
.classpath
.project
.tern-project
.classpath
.classpath
.project
.classpath
.project
.classpath
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
.project
.classpath
.project
.settings/org.eclipse.jst.j2ee.ejb.annotations.xdoclet.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
src/main/webapp/template/Layout.xhtml
.project
.classpath
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.common.component
.classpath
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.jdt.core.prefs
.classpath

.settings/org.eclipse.jdt.core.prefs
.project
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
.classpath
.classpath
.classpath
.classpath
.classpath
.classpath
.classpath
.classpath
.classpath
.classpath
.settings/org.eclipse.wst.validation.prefs
.settings/org.eclipse.wst.xsl.core.prefs
.classpath
.settings/org.eclipse.wst.validation.prefs
.classpath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.wst.validation.prefs
.classpath
.project
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.m2e.core.prefs
.project
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.jdt.core.prefs
.project
.settings/org.eclipse.wst.validation.prefs
.settings/org.eclipse.wst.common.component
.project
