<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=shop;</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">1234567</property>		

		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>


		<!-- SQL Dialect -->
       <!--  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
 
        <!-- Database Connection Settings -->
<!--         <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/shop</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property> -->
		<!-- Mapping With Model Class Containing Annotations -->
		<mapping class="stackjava.com.demojsf.model.User" />
		<mapping class="stackjava.com.demojsf.model.Category" />
		<mapping class="stackjava.com.demojsf.model.Cart" />
		<mapping class="stackjava.com.demojsf.model.Menu" />
		<mapping class="stackjava.com.demojsf.model.Messages" />
		<mapping class="stackjava.com.demojsf.model.Order" />
		<mapping class="stackjava.com.demojsf.model.OrderDetail" />
		<mapping class="stackjava.com.demojsf.model.Product" />
		<mapping class="stackjava.com.demojsf.model.ProductComment" />
		<mapping class="stackjava.com.demojsf.model.ProductRating" />
		<mapping class="stackjava.com.demojsf.model.Banner" />
	</session-factory>
</hibernate-configuration>